html {
  /* To make use of full height of page*/
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.grey-gradient {
  background: "linear-gradient(90deg, rgba(223,223,223,0) 0%, rgba(223,223,223,0) 90%, rgba(192,192,192,1) 100%)";

}